body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh; /* Set height to full viewport height */
    background-size: cover; /* Scale image to cover viewport */
    background-repeat: no-repeat; /* Prevent image from repeating */
    background-position: center center; /* Center image both horizontally and vertically */
    overflow-x: hidden; /* Keep this for preventing horizontal scroll */
    
}

.container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100vh; /* Set height to full viewport height */
}

.half-page {
    box-sizing: border-box;
    width: 50%;
    padding: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .half-page {
        width: 100%;
    }
}
