body {
    background-color: #3B919D;
  
  }

main {
  display: flex;
  flex-direction: column; /* จัดอยู่ในแนวตั้งเรียงจากบนลงล่าง */
  justify-content: center; /* จัดอยู่กึ่งกลางแนวตั้ง */
  align-items: center; /* จัดอยู่กึ่งกลางแนวนอน */
  height: 85vh; /* ความสูงของ main */
  width: 100%;
  position: relative;
 
}

.button-verify {
  
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin-top: 2%;

  outline: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 12%;
  will-change: transform;
  position: relative;
}

.button-verify:disabled {
  pointer-events: none;
}

.button-verify:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-verify:active {
  box-shadow: none;
  transform: translateY(0);
}


.click-description {
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 40px;
  text-align: center;
  min-width: 0%;
  min-height: 0%;

}

/* .box {
  position: relative;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  padding-top: 20%;
  padding-bottom: 10%;
  height: 20%;
  width: 20%;

} */

.mic {
  display: flex;
	flex: 0 1 100%;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin: 100px;
}

.outline {
	width: 60px;
	height: 60px;
	border-radius: 50%;
	border: 8px solid #B5A4A4;
  animation: pulse 3s;
	animation-timing-function: ease-out;
	animation-iteration-count: infinite;
	position: absolute;
  justify-content: center;
}

.button {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	background: #50CDDD;
	box-shadow: 0px 0px 80px #0084F9;
	position: absolute;
  margin-top: 10px; /* Adjust the value as needed */
  align-content: center;
  transform: translate(0px ,-3px);
}

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
		border: 65px solid #0B3082;
  }
  50% {
		border: solid #A3FFC2;		
		opacity: 0.8;
  }
	
	 90% {
    transform: scale(3.2);
		opacity: 0.2;
		border: 3px solid #2E3CFF;
  }
  100% {
    transform: scale(3.3);
		opacity: 0;
		border: 1px solid #7A89FF;
  }
}

#delayed {
	animation-delay: 1.5s;
}

#circlein {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	background: #6BD6E1;
	box-shadow: 0px -2px 15px #E0FF94;
	position: absolute;
  justify-content: center;
  transform: translate(-0.5px ,-2.55px);
}

.mic-icon {
	height: 60px;
	position: absolute;
	margin: 21px;
  justify-content: center;
  fill:#1E2D70
}

@import url(//fonts.googleapis.com/css?family=Lato:300:400);

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position: absolute; /* Add this line */
  bottom: 0; /* Add this line */
  width: 100%;
  margin-bottom:1px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
}
.text3 {
  margin: 10px;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  text-align: center;
  color: #FFFFFF;
  font-size: 16px;
}
.botton4 {
  
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 1;
  border-radius: 500px;
  transition-property: background-color,border-color,color,box-shadow,filter;
  transition-duration: .3s;
  border: 1px solid transparent;
  letter-spacing: 2px;
  min-width: 300px;
  text-transform: uppercase;
  white-space: normal;
  font-weight: 700;
  text-align: center;
  padding: 17px 48px;
  color: #FFFFFF;
  background-color: #000000;
  height: 48px;
  align-content: center;
  margin-top: 5px;

}
.botton4:hover{
  transform: scale(1.04);
  background-color: #8ccad2;
}
.botton6 {
  text-align: center;
}

#circlein:hover {
  background-color: #ffffff;
}
.redmic-icon {
  height: 60px;
	position: absolute;
	margin: 21px;
  justify-content: center;
  fill:red;
}
#textbut {
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
}
.parallax {
  fill:#0084F9
}